body{
	background: #601;
	color: #aaa;
	font-size: 8pt;
}
.wrapper{
	padding: 150px 0;
	text-align: center;
}
.tab{
	padding: 0;
}
.credits a, a, a:hover, a:visited{
	color: #aaa;
}
h1.error{
	padding: 10px 150px;
	margin: 25px;
	display: inline-block;
	background: #a42;
	border: dotted 3px #842;
	color: #fff;
	text-shadow: 0 1px 1px #000;
}
