body.color_scheme_red{	
	background: url(../images/red.png) repeat-x top center #ff3f00;
}
body, body.color_scheme_blue{	
	background: url(../images/blue.png) repeat-x top center #0065ff;
}
body.color_scheme_green{	
	background: url(../images/green.png) repeat-x top center #b1ff00;
}
body.color_scheme_gray{
	background: url(../images/gray.png) repeat-x top center #666;	
}
body.color_scheme_yellow{
	background: url(../images/yellow.png) repeat-x top center #ffe827;	
}
.colors li.red .color{
	background: red;
}
.colors li.blue .color{
	background: blue;
}
.colors li.green .color{
	background: green;
}
.colors li.gray .color{
	background: #888;
}
.colors li.yellow .color{
	background: yellow;
}