@font-face{
	font-family: 'MavenProRegular';
    src: url('maven-webfont.eot');
    src: url('maven-webfont.eot?iefix') format('eot'),
         url('maven-webfont.ttf') format('truetype'),
         url('maven-webfont.svg#webfontRNYW1MSJ') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
	font-family: "Helvetica Neue", "Helvetica", "Tahoma", "Arial", sans-serif;
	background: url('../images/taranca.png') no-repeat fixed right top #fff;	
	font-size: 10pt;
}
h1, h2, h3, h4, h5, h6{
	font-family: "Maven Pro", "MavenProRegular", "Helvetica Neue", "Helvetica", "Tahoma", "Arial", sans-serif;
	clear: both;
}
.wrapper{
	min-width: auto;
	width: 1000px;
}
.fluidwidth .wrapper{
	min-width: 1000px;
	width: 90%;	
}
div.header{
	padding: 25px 10px 15px;
	margin: 15px 0;
	overflow: hidden;
}
div.header h1{
	font-size: 28pt;
}
div.header *{
	padding: 0;
	margin: 0;
}
div.header a, div.header a:visited{
	color: #ddd;
	text-decoration: none;
}
div.header a:hover, div.header a:active, div.header a:focus{
	color: #bbb;
}
div.header a h4, div.header a:visited h4, div.header a:hover h4, div.header a:active h4, div.header a:focus h4{
	opacity: 0.7;
}
div.main.section{
	background: #fff;
	margin: 75px 0 0;
	position: relative;
}
div.section.content{
	overflow:hidden;
}
div.edge{
	background: url('../images/csqedges.png') no-repeat;
	display: inline-block;
	position:absolute;
	top: -12px;
	width: 25px;
	height: 679px;
	z-index: -1;
}
div.edge.left{
	left: -14px;
	background-position: top left;
}
div.edge.right{
	right: -12px;
	background-position: top right;
}
div.edge.top{
	background: url('../images/cgrad.png') repeat-x center top;
	left: 11px;
	right: 13px;
	height: 22px;
	top: -14px;
	width: auto;
}
div.navigation.main{
	width: 100%;
	max-height: 45px;
	display: block;
	font-weight: bold;
	font-size: 10pt;
	font-family: "Gill Sans MT", "Gill Sans", "Lucida Grande", "Lucida Sans Unicode", "Tahoma", "Arial", sans-serif;
	z-index: 9999;
	text-align: center;
	transition: none;
	-o-transition: none;
	-moz-transition: none;
	-webkit-transition: none;
}
div.navigation.main *{
	transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}
div.sidebar ul, div.navigation ul{
	display: block;
	padding: 0;
	margin: 0;
	list-style: none;
}
div.navigation.main ul{	
	margin: 0;
	padding: 0;
	overflow: hidden;
}
div.navigation.main li{
	display: inline-block;
	width: 25%;
}
div.navigation.main li a, div.navigation.main li a:visited{
	background: url('../images/navgradB.png') repeat-x center top #000;
	display: block;
	padding: 10px 0 7px;
	color: #fff;
	font-weight: bold;
	border-left: solid 1px #111;
	border-right: solid 1px #333;
	text-shadow: 0  1px 1px #000;
	transition: none;
	-o-transition: none;
	-moz-transition: none;
	-webkit-transition: none;
}
div.navigation.main li:first-child a{
	border-left: none;
}
div.navigation.main li:last-child a{
	border-right: none;
}
div.navigation.main li a:hover, div.navigation.main li a:active, div.navigation.main li a:focus{
	text-decoration: none;
	color: #fff;
}
div.sidebar{
	display: block;
	position: absolute;
	width: 175px;
	top: 75px;
	overflow: hidden;
}
div.sidebar.left{
	left: 0;
	padding-top: 35px;
}
div.sidebar.right{
	right: 0;
	text-align: right;
}
div.sidebar .widget, div.sidebar .colors{
	transition: none;
	-o-transition: none;
	-moz-transition: none;
	-webkit-transition: none;
}
div.sidebar ul{
	margin: 25px 0;
	padding: 0;
	text-indent: 0;
}
div.main.content{
	margin: 40px 200px 0 200px;
	min-height: 600px;
	text-indent: 1.33em;
	text-align: justify;
	transition: none;
	-o-transition: none;
	-moz-transition: none;
	-webkit-transition: none;
}
div.main.content ul, div.main.content ol, div.main.content dl{
	text-indent: 0;
}
div.widget{	
	overflow: hidden;
	display: block;
	padding: 20px 0 15px;
}
div.widget ul:first-child{	
	padding-bottom: 10px;
	border-bottom: solid 1px #e6e6e6;
}
div.sidebar.left div.widget{	
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
div.sidebar.right div.widget{	
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
div.sidebar ul{	
	margin: 0;
}
div.sidebar ul ul{
	display: none;
}
.noJS div.sidebar ul ul ul{	
	padding: 15px 0;
}
.noJS div.sidebar ul li:hover ul{
	display: block;
}
.noJS div.sidebar ul li:hover ul ul{
	display: none;
}
.noJS div.sidebar ul ul li:hover ul{
	display: block;
}
div.sidebar ul li a, div.sidebar ul li a:visited{
	display: block;
	padding: 5px 0 5px 10px;
	color: #888;
}
div.sidebar ul li a:hover, div.sidebar ul li a:active, div.sidebar ul li a:focus{
	color: #222;
	text-decoration: none;
}
div.sidebar ul li li a, div.sidebar ul li li a:visited{
	font-size: 0.8em;
	padding: 10px 0 5px 15px;
}
div.sidebar ul li li li a, div.sidebar ul li li li a:visited{
	padding-left: 3em;
	text-shadow: solid 1px #d1d735;
}
div.logo{
	background: url('../images/logo.png') no-repeat left top;
	display: inline-block;
	width: 150px;
	height: 225px;
}
div.widget#logo a{
	display: block;
}
div.logo:hover{
	background-position: right top;
}
div.colors{
	position: absolute;
	left: 10px;
	right: 0px;
	top: 5px;
	text-align: left;
}
div.color{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 5px;
}
div.colors a{
	display: inline-block;
}
a, a:visited{
	color: #04f;
	transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}
a:hover, a:active, a:focus{
	color: #f04;
}
div.fix{
	position:relative;
}
*::selection{
	background: yellow;
}
tr:nth-child(2n+2), .color_scheme_blue tr:nth-child(2n+2)	{
	background: #fff;
}
tr:nth-child(2n+1)	{
	background: #dde3ed;
}
tr.header{
	background: url('../images/colors/blue.png') repeat-x center top #094cd7;
	color: #fff;
	border-bottom: none;
}
tr.header *{
	border-left-color: #094cd7;
	border-right-color: #7596f8;
}
tr *{
	transition: none;
	-o-transition: none;
	-moz-transition: none;
	-webkit-transition: none;
}
tr.header th{
	text-indent: 0;
	padding: 10px 5px;
	border-spacing: none;
	text-align: left;
}
td{
	text-align: left;
	text-indent: 0;
}
tr td{
	vertical-align: top;
	padding: 10px;
}
tr td ul{
	padding: 0 0 0 25px;
}
div.theme{
	padding: 0;
}




/* Admin Specific */

div.section.content.admin .main.content{
	text-align: center;
	text-indent: 0;
}
div.section.content.admin .main.content *{
	text-align: left;
}
.input{	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eee), color-stop(1, #fff));
	border: solid 1px #ccc;
	border-radius: 5px;	
}
input,  textarea,  select{
	width: 100%;
	background: none;
	border: none;
	display: block;
	float: none;
	margin: 0;
	color:inherit;
}
.fifty-fifty .input{
	width: 78%;
	float: right;
	clear: right;
	margin: 5px 0;
}
.fifty-fifty label{
	width: 20%;
	float: left;
	clear: left;
	margin: 5px 0;
	text-align: right !important; 
}
input[type='text'],  input[type='select'], select{
	-webkit-appearance: none;
}
input[type='checkbox']{
	-webkit-appearance: checkbox;
	width: auto;
	display: inline-block;
	float: right;
	margin: 10px 10px 0 0;
}
input[type='radio']	{
	width: auto;
}
label{
	display: inline-block;
	float: none;
	width: auto;
	padding: 0px 0 0px 15px;
	color: #444;
}
fieldset input:hover,  input:hover,  textarea:hover{
	background: auto;
	border: auto;
}
div.section.content.admin.input:hover{
	background: #fff;
	border: solid 1px #ccc;
}
div.article,  div.sidebox{
	background: #eee;
	border-radius: 10px;
	box-shadow: 0 0 15px #aaa;
	border: solid 1px #ccc;
}
div.content-title{
	background: url('../images/navgradB.png') repeat-x center top #000;
	color: #fff;	
	padding: 15px 25px;
	font-size: 12pt;
	border-radius: 10px;
	margin: 5px;
}
div.content-main{
	margin: 5px;
	overflow: hidden;
	padding: 25px;
}
div.content-main ul{
	padding: 0 0 0 15px;
}
div.article{	
	margin: 0 1% 2% 1%;
}
div.sidebox {	
	width: 48%;
	margin: 0 0.9% 2% 0.9%;
	display: inline-block;
	vertical-align: top;
	clear: none;
}
input[type='submit']{
	margin: 10px 0;
}