/* DEFAULT BLUE THEME */

.color_scheme_blue a, .color_scheme_blue a:visited, a, a:visited{
	color: #04f;
}
.color_scheme_blue a:focus, .color_scheme_blue a:hover, .color_scheme_blue a:active,
a:focus, a:hover, a:active{
	color: #f04;
}
div.navigation.main li a:hover, div.navigation.main li a:active, div.navigation.main li a:focus, .color_scheme_blue div.navigation.main li a:hover, .color_scheme_blue div.navigation.main li a:active, .color_scheme_blue div.navigation.main li a:focus{
	background: url('../images/colors/blue.png') repeat-x center top #094cd7;
}
.color_scheme_blue div.section.content.admin div.content-title{
	background: url('../images/colors/blue.png') repeat-x center top #094cd7;
}
div.color#blue{
	background: #094cd7;
}





/* LIME GREEN THEME */

.color_scheme_green a, .color_scheme_green a:visited{
	color: #919a00;
}
.color_scheme_green a:focus, .color_scheme_green a:hover, .color_scheme_green a:active{
	color: green;
	text-shadow: none;
}
.color_scheme_green div.navigation.main li a:hover, .color_scheme_green div.navigation.main li a:active, .color_scheme_green div.navigation.main li a:focus{
	background: url('../images/colors/green.png') repeat-x center top #b1b630;
	text-shadow: none;
	color: #444;
}
.color_scheme_green div.section.content.admin div.content-title{
	background: url('../images/colors/green.png') repeat-x center top #b1b630;
	text-shadow: none;
	color: #444;
}
div.color#green{
	background: #d1d735;
}





/* RED ORANGE THEME */

.color_scheme_red a, .color_scheme_red a:visited{
	color: #e43f1e;
}
.color_scheme_red a:focus, .color_scheme_red a:hover, .color_scheme_red a:active{
	color: #04f;
	text-shadow: none;
}
.color_scheme_red div.navigation.main li a:hover, .color_scheme_red div.navigation.main li a:active, .color_scheme_red div.navigation.main li a:focus{
	background: url('../images/colors/red.png') repeat-x center top #e43f1e;
	text-shadow: 0 1px 1px #000;
	color: #fff;
}
.color_scheme_red div.section.content.admin div.content-title{
	background: url('../images/colors/red.png') repeat-x center top #e43f1e;
	color: #fff;
}
div.color#red{
	background: #e43f1e;
}





/* YELLOW BROWN THEME */

.color_scheme_yellow a, .color_scheme_yellow a:visited{
	color: #c80;
}
.color_scheme_yellow a:focus, .color_scheme_yellow a:hover, .color_scheme_yellow a:active{
	color: #e80;
	text-shadow: none;
}
.color_scheme_yellow div.navigation.main li a:hover, .color_scheme_yellow div.navigation.main li a:active, .color_scheme_yellow div.navigation.main li a:focus{
	background: url('../images/colors/yellow.png') repeat-x center top #e38000;
	text-shadow: 0 1px 1px #000;
	color: #fff;
}
.color_scheme_yellow div.section.content.admin div.content-title{
	background: url('../images/colors/yellow.png') repeat-x center top #e38000;
	color: #fff;
}
div.color#yellow{
	background: #ffd801;
}





/* NON COLOR THEME */

.color_scheme_none a, .color_scheme_none a:visited{
	color: #888;
}
.color_scheme_none a:focus, .color_scheme_none a:hover, .color_scheme_none a:active{
	color: #222;
	text-shadow: none;
}
.color_scheme_none div.navigation.main li a:hover, .color_scheme_none div.navigation.main li a:active, .color_scheme_none div.navigation.main li a:focus{
	background: url('../images/colors/none.png') repeat-x center top #666;
	text-shadow: 0 1px 1px #000;
	color: #fff;
}
.color_scheme_none div.section.content.admin div.content-title{
	background: url('../images/colors/none.png') repeat-x center top #666;
	text-shadow: 0 1px 1px #000;
	color: #fff;
}
div.color#none{
	background: #666;
}