body{
	background: url(../images/bg.png) fixed bottom center repeat-x white;
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #999;
}
header{
	width: 500px;
	text-align: center;
	margin: 100px auto 50px;
	font-size: 25pt;
}
nav{
	text-align: center
}
nav li{
	list-style: none;
	display: inline-block;
	width: 150px;
	padding: 5px 20px;
	height: 18px;
	margin: 0 10px;
	background: #f6f6ff;
	z-index: 0;
	position: relative;
}
nav li.complete{
	background: #ff8800;
}
nav li.complete span{
	border-left-color: #ff8800;
}
nav li span{
	border: solid 14px #f6f6ff;
	border-bottom-color: transparent;
	border-right-color: transparent;
	border-top-color: transparent;
	font-size: 0;
	width: 0;
	height: 0;
	padding: 0;
	position: absolute;
	top: 0;
	right: -28px;
}
nav li span.secondary{
	border-left-color: white;
	left: 0;
}
nav li a, nav li a:hover, nav li a:focus, nav li a:visited{
	color: #fff;
}
section{
	margin: 50px 0 0 0;
}
h1, h2, header{
	color: #666;
}
h3, h4, h5, h6{
	color: #888;
}
.button, input{
	display: block;
	background: #f6f6f6;
	padding: 15px 25px;
	border: solid 1px #f0f0f0;
	color: #999
}
.button:hover, input:hover, input:focus{
	background: #f0f0f0;
	border: solid 1px #e0e0e0;
	color: #666;
}
fieldset{
	border: none;
}