body, footer{
	background: url('../images/noise.png') #00394a;	
}
div.body{
	background: #e4f7fe;
	overflow-x: hidden;
	font-family: "Helvetica Neue", "Helvetica", "Lucida Grande", "Segoe UI", "Tahoma", "Arial", sans-serif;
	padding: 60px 0 0 0;
	z-index: -2;
}
div.cloud{
	display: inline-block;
	position: absolute;
	width: 187px;
	height: 116px;
	background: url('../images/cloud.png') no-repeat;
	top: -1500px;
	left: -1500px;
	z-index: 0;
}
div.cloud#c1{
	top: -28px;
	left: -78px;
}
div.cloud#c2{
	top: -18px;
	left: 350px;
}
div.cloud#c3{
	top: -88px;
	right: -68px;
	left: auto;
}
div.cloud#c4{
	top: 130px;
	left: -200px;
}
div.cloud#c5{
	top: 175px;
	right: -268px;
	left: auto;
}
header{
	background: white;
	border: solid 1px #c0c0c0;
	position: relative;
	z-index: 1;
}
nav{
	display: block;
	border-bottom: solid 1px #e6e6e6;
	background: url('../images/nav.png') repeat-x;
	height: 35px;
}
nav ul{
	margin: 0;
	padding: 0;
	height: 35px;
}
nav ul#nav{
	float: left;
	padding: 0 0 0 15px;
}
nav ul#admin{
	float: right;
	padding: 0 15px 0 0;
}
nav li{
	list-style: none;
	display: inline-block;
}
nav li a, nav li#username{
	display: block;
	padding: 12px 10px 8px;
	text-transform: uppercase;
	font-size: 12px;
}
nav li#username{
	display: inline-block;
	color: #666;
}
nav li a, nav li a:visited{
	color: #a0a0a0;
}
nav li a:hover, nav li a:active, nav li a:focus{
	color: #808080;
	text-decoration: none;
	background: rgba(200, 200, 200, 0.4);
}
section{
	padding: 20px 25px;
}
.wrapper, .fluidwidth .wrapper{
	width: 100%;
}
div.body .wrapper, div.footer .wrapper{
	width: 950px;
}
.fluidwidth div.body .wrapper, .fluidwidth div.footer .wrapper{
	width: 85%;
}
footer{
	margin: -75px 0 0 0;
	position: relative;
	z-index: 0;
	color: #82a9d4;
}
div.footer{
	padding: 100px 0 0 0;
	background: url('../images/footer.png') repeat-x top center;
	overflow: hidden;
	min-height: 200px;
	font-family: Museo;
}
div.site, div.credits, div.theme{
	width: 30%;
	float: left;
	clear: none;
}
div.site{
	padding: 0;
	width: 40%;
	text-align: center;
}
.site.title{
	color: #82a9d4;
	font-size: 25pt;
	margin: 0;
	padding: 0;
	font-weight: normal;
}
.site.tagline{
	color: #5d88c5;
	font-size: 10pt;
	margin: 0;
	padding: 0;
	font-weight: normal;
}
div.credits{
	float: right;
	text-align: right;
	padding: 10px 0 0;
	margin: 0;
	position: relative
}
div.credits *{
	padding: 0;
	margin: 0;
}
div.credits p{
	font-size: 10pt;
}
div.credits p.powered{
	position: absolute;
	top: 35px;
	right: 100px;
	height: 49px;
	width: 59px;
	background: url('../images/powered.png') no-repeat;
}
div.credits p.powered a{
	display: block;
	width: 100%;
	height: 100%;
}
footer input{
	background: transparent;
	border: none;
	color: #82a9d4;
	font-size: 8pt;
	width: 100%;
	text-align: left;
	outline: none;
}