body{
	color: #888;
	font-family: "Tahoma", "Helvetica", "Arial", sans-serif;
	font-size: 10pt;
}
.section{
	margin: 150px auto 0;
	width: 730px;
	background: url('../images/grad.png') repeat-y top center #fff;
}
.section#register, .section#admin_edit{
	margin: 25px auto 0;
}
.article{
	padding: 25px 100px;
	margin: -50px 0 0 0;
	border-radius: 10px;
}
.top{	
	background: url('../images/top.png') no-repeat top center #fff;
	height: 100px;
	width: 730px;
}
.footer{
	width: 700px;
	text-align: center;
	background: url('../images/bottom.png') no-repeat center top;
	height: 100px;
	margin: 0 auto;
}
.footer ul{
	padding: 0;
	margin: 0;
	display: inline-block;
}
.footer li{
	display: inline-block;
	list-style: none;
}
.footer li a, .footer li a:visited{
	display: block;
	color: #eee;
	padding: 17px 15px;
	text-shadow: 0 1px 1px #444;
	max-height: 50px;
}
.footer li a:hover, .footer li a:active, .footer li a:focus{
	background: #767676;
	color: #fff;
}
.error, .warning, .success{
	margin: -30px -38px 30px -38px;
}
.input, input[type='submit']{	

	border: solid 1px #ddd;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffffff), color-stop(1, #eeeeee));
	border-radius: 10px;
	margin: 5px 0;
	padding: 10px ;
}
input:-webkit-autofill {
background-color: transparent !important;
background-image: none;
}
input, textarea, select{
	width: 100%;
	background: none;
	border: none;
	display: block;
	float: none;
	padding: 0;
	margin: 0;
	color:inherit;
}
input[type='text'], input[type='select']{
	
	-webkit-appearance: none;
}
input[type='checkbox']{
	-webkit-appearance: checkbox;
	width: auto;
	display: inline-block;
	float: right;
	margin: 10px 10px 0 0;
}
input[type='radio']	{
	width: auto;
}
label{
	display: inline-block;
	float: none;
	width: auto;
	padding: 10px ;
	color: #444;
	margin: 5px 0;
}
#admin_edit .input, #register .input{	
	width: 70%;
	float: right;
	clear: right;
}
#admin_edit label, #register label{
	width: 20%;
	float: left;
	clear: left;
	text-align: right !important; 
}
fieldset input:hover, input:hover, textarea:hover{
	background: auto;
	border: auto;
}
.input:hover{
	background: #fff;
	border: solid 1px #ccc;
}
input[type='submit']{
	margin: 10px 0;
	width: 100%;
}
fieldset{
	padding: 0;
	margin: 0;
	border: none;
}
legend{
	display: block;
	float: none;
	font-size: 20pt;
	padding: 30px 0 10px;
	margin: 0;
	color: #666;
}
fieldset, legend, fieldset.small{
	border: none;
	padding: 0;
	text-align: center;
}