<div class='testbar-bar'>
	<?php echo __("This website is currently under construction.") ?>
	<?php echo __("Try one of the following themes : ") ?>
	<div class="theme"><?php getThemeSelector() ?></div>
</div>
<div class="testbar-spacer"></div>
<style type="text/css">
	.testbar-bar{
		position: absolute; 
		left: 0; 
		top: 0; 
		background: #921; 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(153, 34, 17, 0.7)), color-stop(1, #921));
		right: 0; 
		padding: 10px 25px 10px;
		color: #fff;
		font-size: 12pt;
		text-align: center;
		max-height: 40px;
		z-index: 9999;
	}
	.testbar-spacer{
		padding-top: 40px;
		position: relative;
	}
	.testbar-bar input{
		padding: 0;
		margin: 0;
	}	
	 .testbar-bar select{
		border: none;
	}
	.testbar-bar .theme{
		display: inline-block;
		text-indent: 0;
	}
	div.theme{
		padding: 0;
	}
	div.theme *{
		width: auto;
		display: inline-block;
		-webkit-appearance: auto;
	}
</style>