/*
    Document   : screen
    Created on : May 21, 2011, 6:10:59 PM
    Author     : marcusabin
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

@media screen{
    *{

	transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
    }
body{
    font-family: "OpenSansRegular", sans-serif;
    font-size: 10pt;
    background: url('../images/pat.png') repeat;
}
section.wrapper{
	background: url('../images/grad.png') no-repeat top center;
}
h1, h2, h3, h4, h5, h6{
    font-size: 16pt;
    padding: 15px 0 5px 25px;
    border-bottom: solid 2px;
    margin: 10px 0 5px;
}
h1, h3, h5{
    font-family: "CalligraffitiRegular", cursive;
}
h2, h4, h6{
    font-family: "OstrichSansBold", sans-serif;
}
h1, h2{
    color: #28F;
    border-color: #28F;
    font-style: normal;
}
h3, h4{
    color: #F02;
    border-color: #F02;
    font-style: italic;
}
h5, h6{
    color: #FF9F0F;
    border-color: #FF9F0F;
    font-weight: bold;
}

h2 strong, h4 strong, h6 strong{
    font-family: "OstrichSansBlack", sans-serif;
}

pre, code{
    font-family: "InconsolataMedium", monospace;
}
header{
    display: block;
    overflow: visible;
    min-height: 275px;
}
.wrapper{
    position: static;
    width: 100%;
}
nav{
    display: block;
    border-radius: 5px;
    border: solid 1px #eee;
    border-bottom-color: #ddd;
    background: #fcfcfc;
    border: solid 1px #eee9d0;
    margin: 15px 0;
}
nav .wrp{
    display: block;
    border-top: solid 2px #ccc;
    clear: both;
}
nav .wrp > *{
    display: inline-block;
    margin-top: -2px;
    margin-bottom: -2px;
    clear: none;
}
nav a{
    float: left;
    padding: 22px 10px 10px;
    margin-left: 15px;
    border-top: solid 2px;
    border-color: transparent;
    color: #28F;
}
nav .site.title{
    border-bottom: none;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    display: inline;
}
nav a:hover, nav a:active, nav a:focus{
    border-color: #28F;
    text-decoration: none;
}
nav .mainnav{
    float: right;
    padding: 0 15px;
    display: inline-block;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
}
nav ul li a{
    display: block;
    padding: 25px 20px;
    margin: 0;
    font-size: 10pt;
}
a, a:visited{
    color: #28F;
}
a:focus, a:active, a:hover{
    color: #F02;
    background: #fff;
}
nav .mainnav ul ul{
    padding: 0;
    margin: 0;
    height: 0;
    opacity: 0;
    display: block;
    min-width: 200px;
    position: absolute;
    top: 100%;
    overflow: hidden;
    background: #fff;
    border: solid 1px #eee9d0;
    z-index: 0;
    border: none;
}
nav .mainnav ul li:hover > ul{
    height: auto;
    opacity: 1;
    overflow: visible;
}
nav .mainnav ul ul li{
    padding: 0;
    margin: 0;
    border: none;
    display: inline-block;
    width: 100%;
    position: relative;
}
nav .mainnav ul ul li a{
    padding: 15px 0;
    border: none;
    margin: 0;
    display: block;
    clear: both;
    width: 100%;
    text-indent: 15px;
}
nav .mainnav ul ul a:hover, nav .mainnav ul ul a:active, nav .mainnav ul ul a:focus{
    background: #fff;
}
nav ul ul ul{
    display: block;
    height: auto;
    opacity: 1;
    list-style: circle inside;
    top: 0 !important;
    bottom: auto;
    left: 100%
}
nav .mainnav ul ul ul li{
    list-style: circle inside;
    width: 100%;
    height: auto;
}
header .admin, header .secnav{
    margin: 0;
    background: #fcfcfc;
    border: solid 1px #eee9d0;
    float: left;
    display: inline-block;
}
header .secnav{
    float: right;
}
header .admin ul, header .secnav ul{
    display: block;
    margin: 0;
    padding: 0;
}
header .admin ul ul, header .secnav ul ul{
    font-weight: normal;
    font-style: italic;
    height: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    background: #fff;
}
header .admin ul ul{
    left: 100%;
}
header .secnav ul ul{
    right: 100%;
}
header .admin li:hover ul, header .secnav li:hover ul{
    height: auto;
    opacity: 1;
}
header .admin li, header .secnav li{
    display: block;
    position: relative;
}
header .admin a, header .secnav a, header .admin a:visited, header .secnav a:visited{
    border: none;
    padding: 10px 15px;
    background: transparent;
    padding: 10px 15px;
    display: block;
    color: #28F;
}
section.main{
    width: 1000px;
    margin: 0 auto;
    position: relative;
    overflow: visible;
}
.fluidwidth section.main{
    width: 100%;
}
article{
    background: #fff;
    padding: 25px;
    margin: 15px 0 15px 0;
    border: solid 1px #eee9d0;
}
section#menu{
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}
section#menu .logo{
    background: url('../images/logo.png') center top no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -65px;
    top: 50px;
    width: 170px;
    height: 200px;
    display: inline-block;
}
section#menu .container{
    position: absolute;
    height: 300px;
    width: 500px;
    top: 50%; margin-top: -200px;
    left: 50%; margin-left: -250px;
}
section#menu .logo#float{
   bottom: -50px;
	right: -15px;
	left: auto;
	top: auto;
	opacity: 1;
   margin-left: -35%;
	height: 200px;
	position: absolute;
	z-index: 100;
	margin: 0;
	padding: 0;
}
section#menu.active .logo#float{
	bottom: -500px;
}
section#menu .logo{
    opacity: 0;
    height: 0;
}
section#menu.active{
    background: url('../images/pat.png') repeat;
    z-index: 100;
}
section#menu.active .logo{
    background-position: center bottom;
    opacity: 1;
    height: 200px;
}
section#menu ul{
    height: 0;
   opacity: 0;
   margin-top: 250px;
}
section#menu.active ul{
    height: auto;
    opacity: 1;
}
section#menu ul li{
    display: inline-block;
}
section#menu ul li a, section#menu ul li a:visited{
    font-size: 10pt;
    display: block;
    padding: 10px 15px;
    border: solid 1px;
    background: #aaa890;
    border-color: #888670;
    margin: 0 5px;
    border-radius: 5px;
    color: #fff;
}
section#menu ul li a:hover, section#menu ul li a:active, section#menu ul li a:focus{
    background: #666250;
    border-color: #555140;
    text-decoration: none;
}
section#menu .text{
    width: 1000px;
    font-size: 72pt !important;
    color: #ccccbb;
    font-family: "CalligraffitiRegular", cursive;
    opacity: 0;
    height: 0;
    left: 50%;
    margin-left: -475px;
    position: absolute;
    text-align: center;
    top: 125px;
}
section#menu.active .text{
    opacity: 1;
}
.options input{
    color: #444;
}







/*  Light Style	*/

.mode_light section#menu{
    text-align: right;
}
.mode_light section#menu *{	
	font-size: 8pt !important;
}
.mode_light section#menu .text{
	font-size: 72pt !important;
}
.mode_light h1.site.title{
    border: none;
    font-size: 28pt;
}
.mode_light section#menu .logo{
    height: 200px;
    opacity: 1;
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
}
.mode_light .topmenu{
    width: 200px;
    position: absolute;
    right: 0;
    bottom: 200px;
    width: 0;
    opacity: 0;
    text-align: right;
}
.mode_light section#menu.active .topmenu,
.mode_light section#menu.active .leftmenu{
    opacity: 1;
    height: auto;
    width: auto;
}

.mode_light section#menu.active .leftmenu{
    height: 75px;
}
.mode_light section#menu.active .topmenu{
    width: 200px;
}
.mode_light section#menu ul{
    height: auto;
    opacity: 1;
    margin: 0;
    padding: 0;
}
.mode_light section#menu li a, .mode_light section#menu li a:visited{
    background: transparent;
    color: #666;
    border:none;
}
.mode_light section#menu li a:focus, .mode_light section#menu li a:hover, .mode_light section#menu li a:active{
    color: #222;
    background: transparent;
}
.mode_light section#menu .leftmenu{
    position: absolute;
    right: 150px;
    left: 0;
    top: auto;
    bottom: 25px;
    height: 0;
    opacity: 0;
    width: 0;
}
.mode_light section#menu .leftmenu ul ul{
    height: 0;
    opacity: 0;
    position: absolute;
    bottom: 100%;
    min-width: 75px;
    text-align: left;
}
.mode_light section#menu .leftmenu ul li{
    position: relative;
}
.mode_light section#menu .leftmenu ul ul li{
    display: block;
}
.mode_light section#menu .leftmenu ul li:hover > ul{
    height: auto;
    opacity: 1;
}
.mode_light section#menu .leftmenu ul ul ul{
    position: absolute;
    bottom: 0;
    left: 100%;
    text-align: left;
}
.mode_light section#menu #modes{
    position: absolute;
    left: 15px;
    top: 15px;
    text-align: left;
    opacity: 0;
    width: 0;
}
.mode_light section#menu.active #modes{
    opacity: 1;
    width: auto;
}
.mode_light section#menu #modes ul li{
    display: block;
}
.mode_light section#menu #modes ul li a,
.mode_light section#menu #modes ul li a:visited{
    padding: 5px 0;
}
.mode_light section#menu .text{
    top: 250px;
    bottom: auto;
}
section#footer{
    margin-bottom: 50px;
}
.mode_light section#footer{
    margin-bottom: 250px;
}

}